body {
    margin: 0em;
    background-color: rgb(43, 43, 43);
    display: flex;
}

p {
    font-family: "Tw Cen MT";
    font-size: 1.2em;
    margin: 2em;
}

h1 {
    font-family: Bahnschrift;
    font-size: 3em;
    font-style: normal;
    letter-spacing: 0.15em;
    text-align: center;
    color: #FF5D00;
}

.sidebar {
    border: 1px solid white;
    flex: .1;
    background-color: black;
}

.page {
    border: 1px solid blue;
    flex: 1;
}