/* no i didnt steal this shit from w3 schols shut the fukc up */

body {
    margin: 0em;
    background-color: rgb(43, 43, 43);
}

.under-image {
    background-image: url("media/art4.png");
    margin-top: 0em;
    height: 20em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.button-list {
    text-align: center;
    position: relative;
    transform: translate(42em, 13em);
    float: left;
}

button {
    background: none;
    cursor: pointer;
    transition-duration: 0.2s;
    border: none;
}

.button {
    padding: 10px 25px;
    border-radius: 8px;
}

.link {
    color: rgb(212, 212, 212);
    padding: 0.3em 0.5em;
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding: 2em;
    font-weight: bold;
}

.link:hover {
    background-color: #00A2FF;
    color: black;
}

img {
    transition-duration: 0.2s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.discord:hover {
    background-color: #5865F2;
}

.discord:hover img {
    filter: invert(100%);
}

.youtube img {
    filter: saturate(0%) contrast(150%) brightness(0%);
}

.youtube:hover img {
    filter: saturate(100%) contrast(100%);
}

.youtube:hover {
    background-color: white;
}

.twitch img {
    filter: saturate(0%) contrast(400%);
}

.twitch:hover {
    background-color: white;
}

.twitch:hover img {
    filter: saturate(100%) contrast(100%);
}

.content-body {
    margin: auto;
    margin-top: 1em;
    display: flex;
    width: 96%;
}

.content {
    margin-right: 1em;
    flex: 1;
    color: rgb(212, 212, 212);
    position: relative;
    padding: 0em;
    background-color: rgb(22, 22, 22);
}

.sidebar {
    flex: 0.5;
}

p {
    font-family: "Tw Cen MT";
    font-size: 1.2em;
    margin: 2em;
}

h1 {
    font-family: Bahnschrift;
    font-size: 3em;
    font-style: normal;
    letter-spacing: 0.15em;
    text-align: center;
    color: #FF5D00;
}