$orange: #FF5D00;
$main-font: "Tw Cen MT", "Arial";
$blue: rgb(0, 162, 255);
$subtitle: rgb(150, 150, 150);
$text-color: rgb(212, 212, 212);

article {
	font-family: $main-font;
	color: $text-color;
}

.title, .date {
	display: inline;
}

.title {
	color: $blue;
	font-size: 3em;
	transition: color 0.2s;
}

.date, .author, .categories {
	font-weight: lighter;
	font-size: 1.5em;
	color: $subtitle;
}

.post-content h1 {
    color: $orange;
	font-size: 2em;
}

.post-content p {
	font-size: 1.3em;
}

a {
	color: $blue;
	text-decoration: underline;
}

div > ul {
	font-size: 1.3em;
}

div > ol {
	font-size: 1.3em;
}
