$main-font: "Tw Cen MT", "Arial";
$blue: rgb(0, 162, 255);
$subtitle: rgb(150, 150, 150);
$text-color: rgb(212, 212, 212);

article {
	font-family: $main-font;
	font-size: 1.2em;
}

article h2, article h3.date {
	display: inline;
}

article h2 {
	color: $blue;
	font-size: 2em;
	transition: color 0.2s;
}

article h3 {
	font-weight: lighter;
	font-size: 1.2em;
	color: $subtitle;
}