body {
    background-color: rgb(22, 22, 22);
    height: 100%;
}

img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }