---
# Main SCSS
---

@import "colors";
@import "post";

* {
    box-sizing: border-box;
}

.sidebar a {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0em;
    background-color: $dark-grey;
    display: flex;
}

.sidebar {
    background-color: black;
    /* border-right: 1px solid $orange; */
    position: sticky;
    height: 100vh;
    top: 0;
    flex: 10%;
}

.content {
    background-color: $grey;
    margin: 2em;
    padding: 2em;
    border-radius: 15px;
    flex: 90%;
}


.content p {
    color: $text-color;
    font-family: $main-font;
}

.sidebar img {
    padding: 1em;
    width: 100%;
}

.links {
    margin-top: 0.5em;
}

.links button {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: transparent;
    color: $text-color;
    font-size: 1.2em;
    height: 2em;
    cursor: pointer;
}

.links button:hover {
    background-color: $blue;
    color: black;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 1em;
    font-size: 0.75em;
    width: 100%;
    text-align: center;
    color: $text-color;
}

.footer a {
    color: $subtitle;
    font-family: $main-font;
}

.footer a:hover {
    color: $blue;
}

.footer a, .links button {
    transition: background-color 0.2s, color 0.2s;
}

.list-post {
    border-bottom: 1px solid $blue;
    margin-top: 1em;
}

.list-post a {
    text-decoration: none;
    color: $blue;
    font-size: 1.5em;
}

.list-post h2:hover {
    color: white;
}

@media (max-width: 1000px) {
    .sidebar {
        position: absolute;
        width: 100%;
        height: 40%;
    }
    .sidebar img {
        display: none;
    }
    .content {
        position: relative;
        top: 40vh;
    }
    .content img {
        width: 100%;
    }
}

