<!DOCTYPE html> 
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link rel="stylesheet" href="assets/css/home.css">
    </head>

    <body>
        <div class="banner">
            <div class="logo-txt">LASER SAFETY SQUAD</div><div class="est-txt">EST. 2020</div>
            <div class="banner-buttons-container">
                <a href="https://www.discord.com"><button class="discord"><img src="assets/media/brand/discord.png" alt="Discord"></button></a>

                <a href="https://www.youtube.com/channel/UCGfSeuN8tfQmQaGXzmTkgWg/featured"><button class="youtube"><img src="assets/media/brand/youtube.png" alt="Youtube"></button></a>

                <a href="https://www.twitch.tv/lasersafetysquad"><button class="twitch"><img class="show" src="assets/media/brand/twitch_black.svg" alt="Twitch"><img class="hide" src="assets/media/brand/twitch_purple.svg" alt="Twitch"></button></a>
            </div>
        </div>

        <div class="content">

            <div class="links-container">
                <h1>LINKS</h1>
                <a href="posts"><button class="link">Posts</button></a>
                <a href="tools"><button class="link">Tools</button></a>
                <a href="resources"><button class="link">Resources</button></a>
                <a href="contact"><button class="link">Contact</button></a>
            </div>

            <div class="post">
                <h1>LATEST POST</h1>
                {% assign post = site.posts.first %}
                <article>
                    <a href="{{ post.url }}">
                        <h2 class="title">{{ post.title }}</h2>
                    </a>
                    <h3 class="date">{{ post.date | date: " %Y.%m.%d" }}</h3>
                    <h3 class="author">Author: {{ post.author }}</h3>
                    <div class="post-content">{{ post.content }}</div>
                </article>
                <p class="read-more"><a href="{{ post.url }}">Read this post</a></p>
            </div>
        </div>
        <div class="content">
            <div class="video">
                <h1>LATEST VIDEO</h1>
                
                <iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLWzlEPXHKIStg2jNpcuYyBd3mef__VFXK" frameborder="0"allowfullscreen></iframe>
                <!--
                <iframe width="600" height="340" src="https://www.youtube.com/channel/UCGfSeuN8tfQmQaGXzmTkgWg/videos?view=0&sort=dd" frameborder="0" allowfullscreen></iframe>
                -->
            </div>
        </div>
    </body>
</html>